.milestone-text-container {
    padding: 0;
    margin: 0;
}

.milestone-text-inner-container {
    padding: 0 3%;
}

/*.milestone-text-separator {*/
/*    width: 50%;*/
/*    border-width: 2px;*/
/*    border-color: #3D128D;*/
/*    margin-left: 8%;*/
/*}*/

/*.milestone-text-title {*/
/*    font-weight: 600;*/
/*    font-size: 5.125rem;*/
/*    margin-top: 4rem;*/
/*    color: #444444;*/
/*    padding-left: 10%;*/
/*    margin-bottom: 0;*/
/*}*/
