.landing-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #222222;
    /*background-image: url("../../img/abstract_mountain.svg");*/
    /*background-attachment: fixed;*/
}

.vanta-container {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.text-wrapper {
    z-index: 1;
    position: absolute;
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.ml12 {
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.go-to-projects-container {
    width: 100%;
    height: 100%;
}

.go-to-projects-button {
    z-index: 3;
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
}

.go-to-projects-link {
    z-index: 2;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .ml12 {
        width: auto;
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }
    .vanta-container {
        margin-left: 15%;
        width: 85%;
        align-items: center;
        overflow: hidden;
    }
    .text-wrapper {
        margin-left: 10%;
        width: auto;
    }
}
