.project-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    width: 100%;
    background-color: #222222;
    padding-right: 1rem;
}

.nav-img {
    width: 30px;
    height: auto;
    margin: 1rem 0.5rem;
}

/*.project-nav-container:hover + .project-sidebar-container {*/
/*    display: flex;*/
/*}*/

@media (min-width: 768px) {
    .project-nav-container {
        display: none;
    }
}
