.projects-page-container {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 90rem;
    margin-bottom: 2rem;
}

.programming-experience-description {
    margin-left: 0;
    margin-right: 0;
}

.programming-experience-display-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 23rem);
    justify-content: space-around;
}

#project-item-container-1 {
    width: 23rem;

}

.programming-experience-title {
    color: white;
}

@media (min-width: 530px) {
    #project-item-container-1 {
        width: 19rem;
    }
    .programming-experience-display-container {
        grid-template-columns: repeat(auto-fill, 19rem);
    }
}

@media (min-width: 1200px) {
    .programming-experience-description {
        max-width: 80rem;
    }
}
