html {
  margin: 0;
  width: 100%;
  background-color: #111111;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/backstripe.png");
  background-repeat: no-repeat;
  background-size: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

::-webkit-scrollbar {
  display: none;
}


